#header {
  height: 64px;
  >.row{
    display: flex;
    .logo{
      text-align: center;
      h1{color: white;}
    }   
    .nav{
      height: 64px;
      padding-left: 50px;
    }
    .minNav{
      position: absolute;
      right: -50px;
      top: 4px;
      width: auto;
      .icon {
        background: #041527;
        padding-bottom: 12px;
        padding-right: 13px;
      }
    }
  }
}